@import-normalize;
@import './spacing';
@import './_variables';
@import './_mixins';
@import './icons';
@import './_functions';

body {
  background: $body-bg;
  color: $body-fg;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
}

.topbar {
  background-color: $gray;
  @include row;
  @extend %px1;

  .item {
    @extend %px3;
    @extend %py4;
    font-size: 1.2em;

    &:hover {
      background-color: darken($color: $gray, $amount: 5%);
    }
  }

  & a {
    color: gainsboro;
  }

  & a:hover {
    text-decoration: none;
  }
}

.sidebar {
  @extend %ml5;
  @extend %mt2;
  min-width: 20vh;
  padding-right: 2.5rem;

  & > div {
    @extend %mt5;

    & > div {
      @extend %mt1;
    }
  }

  .item {
    @extend %ml2;
  }

  a {
    @extend %px3;
    @extend %py2;
    @include rounded;
    @include row;
    align-items: center;
    width: 100%;

    &:hover {
      background-color: darken($color: $body-bg, $amount: 3%);
      text-decoration: none !important;
    }

    &.active {
      background-color: $active;
    }
  }

  .heading {
    @extend %pb1;
    @extend %mb1;
    text-transform: uppercase;
  }
}

.signup-page {
  & > div {
    @include width(30);
  }
  & form > div {
    @include width(100);
    @include horizontal-center;
  }
}

.row {
  @include row;

  &.vcenter {
    align-items: center;
  }

  &.grow,
  & .grow {
    flex-grow: 1;
  }
}

div {
  &.centered {
    @include horizontal-center;
  }

  &.spaced {
    div:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

a {
  color: darken($body-fg, 5%);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $link-hover;
  }
}

.button {
  @extend %px2;
  @extend %py1;
  @include rounded;
  @include pointer;
  font-size: 1em;
  color: #eee;

  &.fullwidth {
    @include width(100);
  }

  @each $name, $value in $colors-list {
    &.#{$name} {
      &:not(.outlined) {
        background-color: #{$value};
        border: 2px solid darken($value, 10%);
      }

      &.outlined {
        background-color: inherit;
        border: 2px solid $value;
        color: $gray;

        &.slim {
          border: 1px solid darken($value, 10%);
        }
      }

      &:not(.outlined):hover {
        background-color: darken($value, 5%);

        &.slim {
          border: 1px solid darken($value, 10%);
        }
      }

      &.outlined:hover {
        background-color: rgb(223, 223, 223);
        color: $gray;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
          background-color: $value;
        }
      }
    }
  }
}

.inline-block {
  @include inline-block;
}

.inline {
  @include inline;
}

.block {
  @include block;
}

.container {
  @include horizontal-center;
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

// text
@each $name, $value in $colors-list {
  .text-#{$name} {
    color: #{$value};
  }
}

@each $name, $value in $sizes-list {
  .text-#{$name} {
    font-size: #{$value};
  }
}

// Forms
.formik-input {
  box-sizing: border-box;

  .input {
    @extend %px2;
    @extend %py1;
    @include rounded;
    font-size: inherit;
    border: 1px solid $gray;
    box-sizing: border-box;

    @each $name, $value in $colors-list {
      &.#{$name} {
        border: 1px solid $value;
      }
    }
  }
}

.project-config {
  @include row;
  @include width(70);
  @include horizontal-center();
}

.toast {
  @include width(20);
  @extend %px2;
  @extend %py2;
  @include rounded();
  position: absolute;

  &.bottom-center {
    &.mounting {
      animation-name: slide-up-from-bottom;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
    }

    &.unmounting {
      animation-name: slide-down-to-bottom;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
    }
  }

  &.top-center {
    &.mounting {
      animation-name: slide-down-from-top;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
    }

    &.unmounting {
      animation-name: slide-up-to-top;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
    }
  }

  &.top-right {
    &.mounting {
      animation-name: slide-left-from-right;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
    }

    &.unmounting {
      animation-name: slide-right-from-left;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
    }
  }

  @each $name, $value in $colors-list {
    &.#{$name} {
      background-color: #{$value};
      border: 2px solid darken($value, 10%);
      color: findInvert($value);
    }
  }
}

// for top center toasts
@keyframes slide-down-from-top {
  from {
    left: 50%;
    top: 0px;
    transform: translate(-50%, -100%);
  }

  to {
    left: 50%;
    top: 4rem;
    transform: translate(-50%, 0px);
  }
}

@keyframes slide-up-to-top {
  to {
    left: 50%;
    top: 0px;
    transform: translate(-50%, -100%);
  }

  from {
    left: 50%;
    top: 4rem;
    transform: translate(-50%, 0px);
  }
}

// for bottom center toasts
@keyframes slide-up-from-bottom {
  from {
    left: 50%;
    bottom: 0vh;
    transform: translate(-50%, 100%);
  }

  to {
    left: 50%;
    bottom: 2vh;
    transform: translate(-50%, 0px);
  }
}

@keyframes slide-down-to-bottom {
  to {
    left: 50%;
    bottom: 0vh;
    transform: translate(-50%, 100%);
  }

  from {
    left: 50%;
    bottom: 2vh;
    transform: translate(-50%, 0px);
  }
}

// for top right toasts
@keyframes slide-left-from-right {
  from {
    right: 0px;
    top: 5vh;
    transform: translate(100%, 0px);
  }

  to {
    right: 2vh;
    top: 5vh;
  }
}

@keyframes slide-right-from-left {
  to {
    right: 0px;
    top: 5vh;
    transform: translate(100%, 0px);
  }

  from {
    right: 2vh;
    top: 5vh;
  }
}
